.navbar{
    display: flex;
    margin:0;
    padding: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 86px;
    align-items: center;
}

.tompurselogo{
    margin-left: 54px;
    width: 172px;
    height: 64.54px;
}

.navs{
    margin-left: 46px;
    list-style: none;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #254094;
}

.home{
    width: 45px;
    height: 19px;
}

.about{
    margin-left: 34px;
    width: 71px;
    height: 19px;
}

.invest{
    margin-left: 34px;
    width: 46px;
    height: 19px;
}

a{
    text-decoration: none;
}


.login{
    list-style: none;
    margin-left: 420px;
    width: 47px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #254094;
}

.getstarted{
    margin-left: 12px;
    width: 140px;
    height: 38px;
    background: #254094;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 50px;
}

.hamburger{
    display: none;
}

.section2{
    display: flex;
    width: 100%;
    height: 460px;
    background-color: #022B69;;
}


.getstarted1{
    width: 184px;
    height: 43px;
    background: #FFFFFF;
    border-radius: 50px;
    margin-top: 230px;
    margin-left: 73px;
}

.iphonelogo{
    width: 171.22px;
    height: 397.82px;
    margin-left: 685px; 
    margin-top: 35px;
}

.section3{
    display: flex;
    margin-left: 73px;
    height: 560px;
}

.section3a{
    margin-top: 125px;
}

.guide{
    width: 298px;
    height: 132px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #3D3D46;
}


.we{
    width: 293px;
    height: 76px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #3D3D46;
    margin-top: -55px;
}

.learn{
    width: 75px;
    height: 17px;
    margin-top: -20px;
    width: 75px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 17px;
    color: #0000FF;

}

.section3b{
    width: 398px;
    height: 385px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    margin-left: 250px;
    margin-top: 75px;
}


.inv{
    margin-left: 35px;
    width: 230px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #3D3D46;


}

.invimg{
    margin-right: 10px;

}

.set{
   margin-left: 75px;
   width: 303px;
   height: 51px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #535461;


}


.later{
    margin-left: 35px;
    width: 140px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #3D3D46;


}

.laterimg{
    margin-right: 10px;
}

.set{
   margin-left: 75px;
   width: 303px;
   height: 51px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #535461;
}

.grow1{
    margin-left: 35px;
    width: 200px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #3D3D46;
}

.grow1img{
    margin-right: 13px;
}

.set{
   margin-left: 75px;
   width: 303px;
   height: 51px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #535461;
}


.section4{
    width: 100%;
     height: 450px;
     background: #022B69;
     display: flex;
}

.nouneclipse{
    width: 350px;
    height: 350px;
    margin-top: 50px;
    margin-left: 52px;
}

.nounpadlock{
    height: 350px;
    margin-bottom: -38px;
    margin-left: -315px
}

.section4b{
    margin-top: 50px;
    margin-left: 350px;
}

.security{
    width: 330px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.alldata{
    width: 350px;
    height: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 75px;
}

.learn2{
    width: 97px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color:#1AD5FE;
    margin-left: 120px;
}

.learn2con{
    margin-top: 44px;
}

.our{
    width: 350px;
    height: 29px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #F8F8FD;
    margin-left: 10px;
    margin-top: 30px;
}

.section5a{
    margin-top: 120px;
    margin-left: 350px;
}

.zero{
    width: 430px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 80px;
    color: #022B69;
}

.ourcompany{
    width: 500px;
    height: 29px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    color: #3D3D46;
    margin-left: -20px;
}

.section5b{
    margin-bottom: 160px;
    margin-top: 65px;
    display: flex;
    margin-left: 73px;
}

.section5b1{
    width: 335px;
    height: 323px;
    background: linear-gradient(157.9deg, #022B69 37.56%, #0066F5 106.92%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
}

.finimg{
    margin-left: 120px;
    margin-top: 30px;
}

.fin{
    width: 240px;
    height: 23px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 23px;
    color: #FFFFFF;
    margin-left: 40px;
}

.ourpay1{
    width: 230px;
    height: 57px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 40px;

}

.section5b2{
    margin-left: 30px;
    width: 335px;
    height: 323px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
}

.swiftpimg{
    margin-left: 130px;
    margin-top: 30px;
}

.swift{
    width: 240px;
    height: 23px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 23px;
    color: #FFFFFF;
    margin-left: 62px;
    margin-top: 5px;
    color: #022B69;
}

.ourpay2{
    width: 230px;
    height: 57px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 40px;
    color: #022B69;
}

.section5b3{
    margin-left: 30px;
    width: 335px;
    height: 323px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
}

.easyimg{
    margin-left: 135px;
    margin-top: 30px;
}

.easy{
    width: 240px;
    height: 23px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 23px;
    color: #FFFFFF;
    margin-left: 75px;
    margin-top: 5px;
    color: #022B69;
}

.ourpay3{
    width: 230px;
    height: 57px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 40px;
    color: #022B69;
}

.section6{
    margin-top: 70px;
    width: 100%;
    height: 730px;
    background: #F4F8FC;
}

.simple{
    width: 480px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 44px;
    color: #022B69;
    margin-left: 370px;
    padding-top: 60px;
}

.section6b{
    display: flex;
    margin-left: 110px;
    margin-top: 70px;
}

.basic{
    width: 450px;
    height: 440px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;

}


.plus{
    margin-left: 16px;
    width: 450px;
    height: 440px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
}

.basic1{
    margin-left: 180px;
    width: 95px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #3D3D46;
}

.basic2{
    margin-top: -15px;
    margin-left: 130px;
    width: 200px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #022B69;
}

.basic3{
    margin-top: 27px;
    margin-left: 30px;
    width: 381px;
    height: 66px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #3D3D46;
}

.getstarted2{
    margin-top: 12px;
    margin-left: 70px;
    width: 301px;
    height: 43px;
    background: #0000FF;
    border-radius: 50px;
    border-color: #0000FF;
    color: white;
}

.hr1{
    width: 430.04px;
    height: 0px;
    border: 1px solid #B2BED0;
}

.whats{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    width: 400px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #3D3D46;
}

.whatsimg{
    width: 10px;
    height: 10px;
}

.plus1{
    margin-left: 180px;
    width: 95px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #3D3D46;
}

.plus2{
    margin-top: -15px;
    margin-left: 130px;
    width: 200px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #022B69;
}

.plus3{
    margin-top: 27px;
    margin-left: 30px;
    width: 381px;
    height: 66px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #3D3D46;
}

.getstarted3{
    margin-top: 12px;
    margin-left: 70px;
    width: 301px;
    height: 43px;
    background: #0000FF;
    border-radius: 50px;
    border-color: #0000FF;
    color: white;
}

.hr1{
    width: 430.04px;
    height: 0px;
    border: 1px solid #B2BED0;
}

.whats2{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    width: 400px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #3D3D46;
}

.whatsimg{
    width: 10px;
    height: 10px;
}


.section7{
    margin-left: 103px;
    display: flex;
}


.section7b{
   margin-left: 255px;
   margin-top: 70px;
}
.investimg1{
    position: relative;
    
}

.investimg2{
   margin-left: -75px;
   margin-bottom: 95px
}

.investearn{
    width: 205px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #022B69;
}

.investearn2{
    margin-left:-70px;
    width: 350px;
    height: 29px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
    text-align: center;
    color: #022B69;
}

.googleplay{
    margin-top: 50px;
    margin-left: -35px;
}

.googleplay2{
   margin-left: 30px;
}

.section8{
    margin-top: 70px;
}

.section8a{
   display: flex;
   justify-content: space-between;
}

.lefticon{
    margin-left: 100px;
}

.righticon{
   margin-right: 120px;
}

.see{
    width: 487px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #022B69;
    margin-top: 20px;
}

.section9{
    background: #022B69;
}

.section9a{
    width: 347px;
    height: 371px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;   
    margin-left: 420px;
    padding-top: 40px;
}


.getstarted4{
    margin-top: 30px;
    width: 213px;
    height: 57.81px;
    background: #DDFA00;
    box-shadow: 0px 15.2143px 30.4286px rgba(0, 0, 0, 0.04), 0px 3.04286px 9.12857px rgba(0, 0, 0, 0.04), 0px 0px 1.52143px rgba(0, 0, 0, 0.04);
    border-radius: 76.0714px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 21.3px;
    line-height: 26px;
    color: #022B69;
    margin-left: 70px ;
}

.gets4{
    position: relative;
    z-index: 4;
    width: 120.19px;
    height: 25.86px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 21.3px;
    line-height: 26px;
    color: #022B69;


}

.hr9{
    border: 1px solid #1AD5FE;
}


.recu{
    position: absolute;
    top: 4850px;
    left: 320px;
    z-index: 3;
    background-color: rgba(14, 52, 79, 0.5);
}
.reclb{
    z-index: 2;
    position: absolute;
    top: 4612px;
    left: 540px;
}

.recdb{
    z-index: 1;
    position: absolute;
    top: 4628px;
    left: 320px;
}

.section9b{
    display: flex;
    margin-top: 60px;
    margin-left: 80px;
    margin-bottom: 210px;
}

.tompursewhiteimg{
    margin-top: -10px;
    
}

.company{
    margin-left: 120px;
    color: white;
    width: 93px;
    height: 13px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #1AD5FE;
}

.com{
    width: 106.51px;
    height: 40.61px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
}

.com1{
    margin-top: 25px;
}

.product{
    margin-left: 120px;
    color: white;
    width: 93px;
    height: 13px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #1AD5FE;
}

.pro{
    width: 106.51px;
    height: 40.61px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
}

.company{
    margin-left: 120px;
    color: white;
    width: 93px;
    height: 13px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #1AD5FE;
}

.com{
    width: 106.51px;
    height: 40.61px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
}

.com1{
    margin-top: 25px;
}

.quick{
    margin-left: 120px;
    color: white;
    width: 93px;
    height: 13px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #1AD5FE;
}

.ql{
    width: 106.51px;
    height: 40.61px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
}

.com1{
    margin-top: 25px;
}

.connect{
    margin-left: 120px;
    color: white;
    width: 93px;
    height: 13px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #1AD5FE;
}

.con{
    width: 106.51px;
    height: 40.61px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
}

.com1{
    margin-top: 25px;
}

.suite{
    margin-top: 25px;
    width: 180px;
}

.inst, .twi, .clock{
    margin-left: 5px;
}

.hr9b{
    width: 100%;
    height: 0px;
    border: 1px solid #1AD5FE;
}

.footer{
    width: 985px;
    height: 51px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}


@media screen and (max-width:480px){
    
    .hamburger{
        display: block;
     }
     .nav, .login, .getstarted{
     display: none;
     }

     .getstarted1{
        width: 130px;
        height:40px;
        margin-left: 0;
        margin-top: 240px;
     }
     .tompurselogo{
        margin-left: -20px;
     }
     .hamburger{
        display: block;
        width: 30px;
        margin-left: 120px;
     }

     .iphonelogo{
        margin-left: 70px;
     }

     .section3{
        display: block;
        margin-bottom: 120px;
        margin-left: 0;
     }

     .section3b{
        margin-left: -20px;
        margin-top: 50px;
        width: 350px;
     }

     .nouneclipse{
        position: relative;
        width: 160px;
        height: 160px;
        margin-left: 0;
        margin-top: 190px;
     }

     .nounpadlock{
        width: 130px;
        height: 130px;
        position: relative;
        left: 170px;
        top: -40px;
     }

     .section4b{
        margin-left: 120px;
     }

     .security{
        margin-left: -30px;
        font-size: 14px;
     }
     .alldata{
        margin-left: 40px;
        width: 200px;
        font-size: 12px;
     }
     .our{
        width: 200px;
        margin-left: 40px;
        font-size: 12px;
     }

     .section5a{
        margin-left: 0;
     }

    .zero{
        text-align: center;
        font-size: 31px;
        margin-left: -30px;
    }
    .ourcompany{
        margin-left: 5px;
        font-size: 28px;
        width: 370px;
    }
    .section5b{
        display: block;
        margin-left: 0;
    }
    .section5b2, .section5b3{
        margin-left: 0;
    }


    .section6{
        height: 1050px;
    }

    .simple{
        margin-left: 50px;
        font-size: 23px;
    }
    .section6b{
        display: block;
        margin-left: 0;
    }

    .basic, .plus{
        width: 350px;
        height: 380px;
    }
    .plus{
        margin-left: 0px;
    }

    .basic1{
        margin-left: 100px;
    }

    .basic2{
        margin-left: 90px;
    }

    .basic3{
        width: 340px;
        font-size: 16px;
        margin-left: 0;
    }


    .getstarted2{
        margin-left: 20px;
    }


    .plus1{
        margin-left: 100px;
    }

    .plus2{
        margin-left: 90px;
    }

    .plus3{
        width: 340px;
        font-size: 16px;
        margin-left: 0;
    }


    .getstarted3{
        margin-left: 20px;
    }


    .section7{
        display: block;
        margin-top: 30px;
        margin-left: 0px;
    }

    .investimg1{
        width: 170px;
        z-index: 2;

    }

    .investimg2{
        position: relative;
        width: 130px;
        top:50px;
        left: 30px;
        z-index: 1;
    }

    .section7b{
        margin-left: 160px;
    }

    .investearn{
        font-size: 20px;
    }

    .investearn2{
        width: 210px;
        font-size: 16px;
    }

    .googleplay2{
        display: none;
    }

    .recu, .recdb, .reclb{
        display: none;
    }

    .section8{
        width: 400px;
    }

    .section9a{
    margin-left: 20px;
    }

    .section9b{
        margin-left: 0;
        display: block;
    }

    .company{
        width: 300px;
        font-size: 16px;
        margin-left: 20px;
        margin-top: -10px;
        display: flex;
        margin-bottom: 50px;
    }
    .product{
        width: 350px;
        font-size: 16px;
        margin-left: 20px;
        display: flex;
        margin-bottom: 50px;
    }
    .quick{
        width: 280px;
        font-size: 16px;
        margin-left: 20px;
        display: flex;
        margin-bottom: 50px;
    }
    .connect{
        width: 300px;
        font-size: 16px;
        margin-left: 20px;
        display: flex;
        margin-bottom: 60px;
    }

    .com1{
        margin-left: 5px;
    }

    .smimg{
        margin-left: 30px;
    }
    #numb{
        margin-top: 80px;
        margin-left: -105px;
        display: block;
    }
    .su{
        margin-top: 120px;
        line-height: 19px;
        margin-left: -290px;
    }
    .footer{
        margin-left: 15px;
        font-size: 18px;
        width: 330px;
    }

    #footer2{
        margin-top: 90px;
    }
    #footer3{
        margin-top: -30px;
    }
}

    @media screen and (max-width:767px) and (min-width:481px){
        .hamburger{
            display: block;
         }
         .nav, .login, .getstarted{
         display: none;
         }
         .tompurselogo{
            margin-left: 20px;
         }
    
         .getstarted1{
            width: 160px;
            height:50px;
            margin-left: 30px;
            margin-top: 240px;
         }
    
         .hamburger{
            display: block;
            width: 30px;
            margin-left: 45%;
         }
    
         .iphonelogo{
            margin-left: 30%;
         }
    
         .section3{
            display: block;
            margin-bottom: 120px;
         }
    
         .section3b{
            margin-left: -20px;
            margin-top: 50px;
            width: 350px;
         }
    
         .nouneclipse{
            position: relative;
            width: 160px;
            height: 160px;
            margin-left: 0;
            margin-top: 190px;
         }
    
         .nounpadlock{
            width: 130px;
            height: 130px;
            position: relative;
            left: 170px;
            top: -40px;
         }
    
         .section4b{
            margin-left: 150px;
         }
    
         .security{
            font-size: 22px;
         }
         .alldata{
            margin-left: 30px;
            width: 280px;
            font-size: 14px;
         }
         .our{
            width: 280px;
            margin-left: 30px;
            font-size: 15px;
         }
    
         .section5a{
            margin-left: 30px;
         }
    
        .zero{
            text-align: center;
            font-size: 31px;
        }
        .ourcompany{
            margin-left: 5px;
            font-size: 28px;
        }
        .section5b{
            display: block;
        }
        .section5b2, .section5b3{
            margin-left: 0;
        }
    
    
        .section6{
            height: 1050px;
        }
    
        .simple{
            margin-left: 50px;
            font-size: 33px;
        }
        .section6b{
            display: block;
            margin-left: 30px;
        }
    
        .basic, .plus{
            width: 400px;
            height: 380px;
        }
        .plus{
            margin-left: 0px;
        }
    
        .section7{
            margin-top: 30px;
            margin-left: 0px;
        }
    
        .investimg1{
            width: 170px;
            z-index: 2;
    
        }
    
        .investimg2{
            position: relative;
            width: 130px;
            bottom:280px;
            left: 200px;
            z-index: 1;
        }
    
        .section7b{
            margin-left: 160px;
        }
    
        .investearn{
            font-size: 20px;
        }
    
        .investearn2{
            width: 210px;
            font-size: 16px;
        }
    
        .googleplay2{
            display: none;
        }
    
        .recu, .recdb, .reclb{
            display: none;
        }
    
        .section8{
            width: 400px;
        }
    
        .section9a{
        margin-left: 40px;
        }
    
        .section9b{
            margin-left: 0;
            display: block;
        }
    
        .company{
            width: 350px;
            font-size: 16px;
            margin-left: 20px;
            margin-top: -10px;
            display: flex;
            margin-bottom: 50px;
        }
        .product{
            width: 350px;
            font-size: 16px;
            margin-left: 20px;
            display: flex;
            margin-bottom: 50px;
        }
        .quick{
            width: 350px;
            font-size: 16px;
            margin-left: 20px;
            display: flex;
            margin-bottom: 50px;
        }
        .connect{
            width: 350px;
            font-size: 16px;
            margin-left: 20px;
            display: flex;
            margin-bottom: 60px;
        }
    
        .com1{
            margin-left: 30px;
        }
    
        .smimg{
            margin-left: 30px;
        }
        .su{
            margin-top: 120px;
            line-height: 19px;
            margin-left: -290px;
        }
        .footer{
            margin-left: 15px;
            font-size: 18px;
            width: 400px;
        }
    
        #footer2{
            margin-top: 90px;
        }
        #footer3{
            margin-top: -30px;
        }

    }

        @media screen and (max-width:1023px) and (min-width:768px){
            .hamburger{
                display: block;
             }
             .nav, .login, .getstarted{
             display: none;
             }
             .tompurselogo{
                margin-left: 20px;
             }
        
             .getstarted1{
                width: 160px;
                height:50px;
                margin-left: 30px;
                margin-top: 240px;
             }
        
             .hamburger{
                display: block;
                width: 30px;
                margin-left: 45%;
             }
        
             .iphonelogo{
                margin-left: 30%;
             }
        
             .section3{
                display: block;
                margin-bottom: 120px;
             }
        
             .section3a{
                margin-left: 150px;
             }

             .section3b{
                margin-left: 130px;
                margin-top: 50px;
                width: 350px;
             }
        
             .nouneclipse{
                position: relative;
                width: 160px;
                height: 160px;
                margin-left: 0;
                margin-top: 190px;
             }
        
             .nounpadlock{
                width: 130px;
                height: 130px;
                position: relative;
                left: 170px;
                top: -40px;
             }
        
             .section4b{
                margin-left: 250px;
             }
        
             .security{
                margin-left: 30px;
                font-size: 33px;
             }
             .alldata{
                margin-left: 30px;
                width: 400px;
                font-size: 26px;
                line-height: 26px;
             }
             .our{
                width: 400px;
                margin-left: 30px;
                font-size: 26px;
                line-height: 26px;
             }
        
             .section5a{
                margin-left: 170px;
             }
        
            .zero{
                text-align: center;
                font-size: 31px;
            }
            .ourcompany{
                line-height: 28px;
                margin-left: 5px;
                font-size: 28px;
            }
            .section5b{
                display: block;
                margin-left: 180px;
            }
            .section5b2, .section5b3{
                margin-left: 0px;
            }
        
            .section6{
                height: 1050px;
            }
        
            .simple{
                margin-left: 200px;
                font-size: 33px;
            }
            .section6b{
                display: block;
                margin-left: 180px;
            }
        
            .basic, .plus{
                width: 460px;
                height: 400px;
            }
            .plus{
                margin-left: 0px;
            }
        
            .section7{
                margin-top: 30px;
                margin-left: 0px;
            }
        
            .investimg1{
                width: 170px;
                z-index: 2;
                margin-left: 90px;
            }
        
            .investimg2{
                position: relative;
                width: 130px;
                top:50px;
                left: 20px;
                z-index: 1;
            }
        
            .section7b{
                margin-left: 200px;
            }
        
            .investearn{
                font-size: 20px;
            }
        
            .investearn2{
                width: 210px;
                font-size: 16px;
            }
        
            .googleplay2{
                display: none;
            }
        
            .recu, .recdb, .reclb{
                display: none;
            }
        
            .section8{
                width: 400px;
            }
        
            .section9a{
            margin-left: 220px;
            }
        
            .section9b{
                margin-left: 30px;
                display: block;
            }
        
            .company{
                width: 700px;
                font-size: 27px;
                margin-left: 20px;
                margin-top: -10px;
                display: flex;
                margin-bottom: 50px;
            }
            .product{
                width: 700px;
                font-size: 27px;
                margin-left: 20px;
                display: flex;
                margin-bottom: 50px;
            }
            .quick{
                width: 700px;
                font-size: 27px;
                margin-left: 20px;
                display: flex;
                margin-bottom: 50px;
            }
            .connect{
                width: 700px;
                font-size: 27px;
                margin-left: 20px;
                display: flex;
                margin-bottom: 60px;
            }
        
            .com1{
                margin-left: 30px;
            }
        
            .smimg{
                margin-left: 30px;
            }
            .su{
                margin-top: 120px;
                line-height: 27px;
                margin-left: -500px;
            }
            .footer{
                margin-left: 15px;
                font-size: 29px;
                width: 700px;
                line-height: 27px;
            }
        
            #footer2{
                margin-top: 150px;
            }
            #footer3{
                margin-top: -30px;
            }


    }

    @media screen and (max-width:1024px) and (min-width:1024px){
        
        .hamburger{
            display: block;
         }

         .navs, .login, .getstarted{
            display: none;
         }

         .tompurselogo{
            margin-left: 20px;
         }
    
         .getstarted1{
            width: 260px;
            height:80px;
            margin-left: 30px;
            margin-top: 240px;
         }
    
         .hamburger{
            display: block;
            width: 30px;
            margin-left: 75%;
         }
    
         .iphonelogo{
            margin-left: 50%;
         }
    
         .section3{
            display: flex;
            margin-bottom: 120px;
         }
    
         .section3a{
            margin-left: 30px;
         }

         .section3b{
            margin-left: 150px;
            margin-top: 50px;
            width: 350px;
         }
    
         .nouneclipse{
            position: relative;
            width: 300px;
            height: 300px;
            margin-left: 0;
            margin-top: 130px;
         }
    
         .nounpadlock{
            width: 300px;
            height: 300px;
            position: relative;
            left: 20px;
            top: -20px;
         }
    
         .section4b{
            margin-left: 250px;
         }
    
         .security{
            margin-left: 30px;
            font-size: 33px;
         }
         .alldata{
            margin-left: 30px;
            width: 400px;
            font-size: 26px;
            line-height: 26px;
         }
         .our{
            width: 400px;
            margin-left: 30px;
            font-size: 26px;
            line-height: 26px;
         }
    
         .section5a{
            margin-left: 250px;
         }
    
        .zero{
            text-align: center;
            font-size: 31px;
        }
        .ourcompany{
            line-height: 28px;
            margin-left: 5px;
            font-size: 28px;
        }
        .section5b{
            display: flex;
            margin-left: 30px;
        }
        .section5b2, .section5b3{
            margin-left: 30px;
        }
    
        .section6{
            height: 700px;
        }
    
        .simple{
            margin-left: 300px;
            font-size: 36px;
        }
        .section6b{
            display: flex;
            margin-left: 50px;
        }
    
        .basic, .plus{
            width: 460px;
            height: 400px;
        }
        .plus{
            margin-left: 30px;
        }
    
        .section7{
            margin-top: 30px;
            margin-left: 0px;
        }
    
        .investimg1{
            width: 200px;
            z-index: 2;
            margin-left: 90px;
        }
    
        .investimg2{
            position: relative;
            width: 170px;
            top:70px;
            left: 10px;
            z-index: 1;
        }
    
        .section7b{
            margin-left: 170px;
        }
    
        .investearn{
            font-size: 31px;
        }
    
        .investearn2{
            margin-left: -140px;
            width: 500px;
            font-size: 27px;
            line-height: 29px;
        }

        .googleplay{
            margin-top: 90px;
        }
    
        .recu, .recdb, .reclb{
            display: none;
        }
    
        .section8{
            width: 400px;
        }
    
        .section9a{
        margin-left: 280px;
        }
    
        .section9b{
            margin-left: 30px;
            padding-bottom: 60px;
        }
    
        .company{
            width: 700px;
            font-size: 27px;
            margin-left: 20px;
            margin-bottom: 50px;
        }
        .com{
            margin-left: 30px;
        }
        .product{
            width: 700px;
            font-size: 27px;
            margin-left: 20px;
            margin-bottom: 50px;
        }
        .quick{
            width: 700px;
            font-size: 27px;
            margin-left: 20px;
            margin-bottom: 50px;
        }
        .connect{
            width: 700px;
            font-size: 27px;
            margin-left: 20px;
            margin-bottom: 60px;
        }
    
        .com1{
            margin-top: 20px;
            line-height: 22px;
        }
    
        .smimg{
            margin-left: 30px;
        }
        
        .su{
            margin-top: 70px;
            line-height: 24px;
            margin-left: -350px;
        }

        .footer{
            margin-left: 30px;
            font-size: 27px;
            width: 800px;
            line-height: 27px;
        }
    
        #footer2{
            margin-top: 120px;
        }

        #footer3{
            margin-top: -30px;
        }
}